
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=e50ec934-715f-43a1-8b35-7d65f52b5826");
@font-face{
font-family:"HelveticaNeueW02-85Heav";
src:url("Fonts/0041ab1b-3cca-4f61-841a-75a18048adb8.eot?iefix") format("eot");}
@font-face{
font-family:"HelveticaNeueW02-85Heav";
src:url("Fonts/0041ab1b-3cca-4f61-841a-75a18048adb8.eot?iefix");
src:url("Fonts/03a07450-478d-4c93-89ae-68cafdbc0332.woff") format("woff"),url("Fonts/b96bc8f7-2a71-4500-8c8d-646fc0a13306.ttf") format("truetype"),url("Fonts/ae236757-b3b9-4cfa-906d-bce3e20a9397.svg#ae236757-b3b9-4cfa-906d-bce3e20a9397") format("svg");
}
